<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

<h1>Listando Pacientes</h1>  

  Existem <%= @totalpacientes %> pacientes cadastrados
  <p><%= link_to 'Novo Paciente', new_paciente_path %>

  <%= render :partial => "lista" %>
