<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<h1>Listando vias de aplicação</h1>

<table class="table table-striped table-hover">
  <tr>
  </tr>

  <tbody>
    <% for viaaplic in @viaaplics %>
      <tr>
        <td><%= viaaplic.descricao %></td>
        <td><%= link_to 'Alterar', edit_viaaplic_path(viaaplic) %> | 
            <%= link_to 'Excluir', viaaplic, :confirm => 'Confirma?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Novo via aplicação', new_viaaplic_path %>
</div>
</div>