<table bgcolor="#ffffcc">
  <tr>
    <td><b>Via aplicação:</b> </td>
    <td><h2><%= @viaaplic.descricao %></h2></td>
  </tr>
</table>

<%= link_to 'Alterar', edit_viaaplic_path(@viaaplic) %> |
<%= link_to 'Voltar', viaaplics_path %>
