<div class="receitai">
<% fields_for "receita[receitai_attributes][]", receitai do |receitai_form| %>
<table>
<tr>
<th>Medicamento</th>
<th>Dose</th>
<th>Qtde</th>
</tr>
<tr>
<td>
  <%= receitai_form.select :medicamento_id, Medicamento.find(:all, :order => 'descricao').collect {|e| [e.descricao, e.id]},
      { :include_blank => true },
      {:onchange => remote_function(:update => "padrao_doses",
                                    :url => { :controller => '/receitas', :action => 'get_doses' },
                                    :with => "'medicamento_id='+value")}
  %>

<td>
<div id="lista_doses">
  <%= receitai_form.text_field :dose  %>
</div>
</td>
<td>
    Qtde: <%= receitai_form.text_field :qtde %>
    <%= link_to_function "remove", "this.up('.receitai').remove()" %>
</td>
</tr>
</table>
</div>

<% end %>
