  <tr id='<%= dom_id(padrao) %>'>
    <td><%=h padrao.campo %></td>
    <td><%=h padrao.valores %></td>
    <td><%= link_to 'Mostrar', padrao %></td>
    <td><%= link_to 'Alterar', edit_padrao_path(padrao) %></td>
    <td><%= link_to_remote 'Excluir',   :url=>padrao_path(padrao),
                                        :confirm => 'Você realmente deseja excluir esse padrão?', 
                                        :method => :delete %>
    </td>
  </tr>
